{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopping</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">      
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		
		<link href="{% static 'themes/css/bootstrappage.css' %}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{% static 'themes/css/flexslider.css' %}" rel="stylesheet"/>
		<link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static 'themes/js/jquery-1.7.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>				
		<script src="{% static 'themes/js/superfish.js' %}"></script>	
		<script src="{% static 'themes/js/jquery.scrolltotop.js' %}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		
		<div id="wrapper" class="container">
			<section class="header_text sub">
				<h4><span>Check Out</span></h4>
				{% if msg %}
                    <div class="alert alert-primary" role="alert">
                        {{ msg }}
                    </div>
        	    {% endif %}
			</section>	
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Billing Details </a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse">
									<div class="accordion-inner">
										<div class="row-fluid">
											<div class="span6">
												<h2>Total Amount : {{ net }}</h2>
												<h2>Size : {{ size }}</h2>
												<br><br><br><br>
												<h4>Your Personal Details</h4>
											<form name="checkout" action="{% url 'checkout' %}" method="post">
												{% csrf_token %}
												<div class="control-group">
													<div class="controls">
														<input type="hidden" name='amount' value="{{ net }}">
														<input type="hidden" name='item_size' value="{{ size }}">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">First Name</label>
													<div class="controls">
														<input type="text" name='fname' placeholder=""  class="input-xlarge" required="required">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Last Name</label>
													<div class="controls">
														<input type="text" name='lname' placeholder="" class="input-xlarge" required="required">
													</div>
												</div>					  
												<div class="control-group">
													<label class="control-label">Email Address</label>
													<div class="controls">
														<input type="text" name='e_mail' placeholder="" class="input-xlarge" required="required">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Mobile</label>
													<div class="controls">
														<input type="text" name='m_obile' placeholder="" class="input-xlarge" required="required">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Fax</label>
													<div class="controls">
														<input type="text" name='fax' placeholder="" class="input-xlarge">
													</div>
												</div>
											</div>
											<div class="span6">
												<h4>Your Address</h4>
																  
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Address 1:</label>
													<div class="controls">
														<input type="text" name='add1' placeholder="" class="input-xlarge" required="required">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label">Address 2:</label>
													<div class="controls">
														<input type="text" name='add2' placeholder="" class="input-xlarge">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> City:</label>
													<div class="controls">
														<input type="text" name='city' placeholder="" class="input-xlarge" required="required">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Post Code:</label>
													<div class="controls">
														<input type="text" name='post_code' placeholder="" class="input-xlarge" required="required">
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Country:</label>
													<div class="controls">
														<select class="input-xlarge" name='country'>
															<option value="india">India</option>
														</select>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label"><span class="required">*</span> Region / State:</label>
													<div class="controls">
														<select name="state" class="input-xlarge" required="required">
															<option> --- Please Select --- </option>
															<option value="andhra">Andhra Pradesh</option>
															<option value="arunachal">Arunachal Pradesh</option>
															<option value="assam">Assam</option>
															<option value="bihar">Bihar</option>
															<option value="goa">Goa</option>
															<option value="gujrat">Gujrat</option>
															<option value="haryana">Haryana</option>
															<option value="himachal">Himachal Pradesh</option>
															<option value="jharkhand">Jharkhand</option>
															<option value="karnataka">Karnataka</option>
															<option value="kerala">Kerala</option>
															<option value="mp">Madhya Pradesh</option>
															<option value="mh">Maharashtra</option>
															<option value="manipur">Manipur</option>
															<option value="meghalaya">Meghalaya</option>
															<option value="mizoram">Mizoram</option>
															<option value="nagaland">Nagaland</option>
															<option value="odisha">Odisha</option>
															<option value="punjab">Punjab</option>
															<option value="rj">Rajasthan</option>
															<option value="sikkim">Sikkim</option>
															<option value="tn">Tamilnadu</option>
															<option value="telangana">Telangana</option>
															<option value="tripura">Tripura</option>
															<option value="up">Uttarpradesh</option>
															<option value="uk">Uttrakhand</option>
															<option value="wb">West Bengal</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<center>
										<input type='submit' class='btn btn-inverse large' value='Place Order'>
									<center>
									</form>
								</div>
							</div>
							
						</div>				
					</div>
				</div>
			</section>			
			{% include 'footer.html' %}
		</div>
		<script src="{% static 'themes/js/common.js' %}"></script>
    </body>
</html>
{% endblock %}