{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopping</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">      
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		
		<link href="{% static 'themes/css/bootstrappage.css' %}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{% static 'themes/css/flexslider.css' %}" rel="stylesheet"/>
		<link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static 'themes/js/jquery-1.7.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>				
		<script src="{% static 'themes/js/superfish.js' %}"></script>	
		<script src="{% static 'themes/js/jquery.scrolltotop.js' %}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div style='margin-left:27px'>
			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<a href="{% url 'show_m_footwear' sf='m_sport_shoes' %}">
							<img src="{% static 'themes/images/carousel/banner-3.jpg' %}" alt="" />
							<div class="intro">
								<h1>Diwali sale</h1>
								<p><span>Up to 40% Off</span></p>
								<p><span>On selected items online and in stores</span></p></a>
							</div>
						</li>
						<li>
							<a href="{% url 'show_w_acc' sa='purse' %}">
							<img src="{% static 'themes/images/carousel/banner-6.jpg' %}" alt="" />
							<div class="intro">
								<h1>Christmas sale</h1>
								<p><span>Up to 40% Off</span></p>
								<p><span>On selected items online and in stores</span></p></a>
							</div>
						</li>
						<li>
							<img src="{% static 'themes/images/carousel/banner-5.jpg' %}" alt="" />
							<div class="intro">
								<h1>New Year sale</h1>
								<p><span>Up to 40% Off</span></p>
								<p><span>On selected items online and in stores</span></p>
							</div>
						</li>
					</ul>
				</div>			
			</section>
			<section class="header_text">
				We stand for top quality Products. Our genuine Sellers always Updated New arrivals and New Fashionables Products. 
				<br/>Don't miss to buy our cheap and best Products. 
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="#"><img src="{% static 'themes/images/ladies/a1.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Demin Shirt & Jeans</a><br/>
														<a href="products.html" class="category">Jeans Combo</a>
														<p class="price">$17.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a2.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Trouser For Kids</a><br/>
														<a href="products.html" class="category">H&M Fashion</a>
														<p class="price">$32.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a3.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Office Tops For Women</a><br/>
														<a href="products.html" class="category">Wrangler</a>
														<p class="price">$14.20</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a4.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Fancy Outfit</a><br/>
														<a href="products.html" class="category">Levi's Fashion</a>
														<p class="price">$31.45</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a5.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Girls Lower</a><br/>
														<a href="products.html" class="category">Vivenne Westwood</a>
														<p class="price">$22.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a6.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Kids Wear</a><br/>
														<a href="products.html" class="category">Timberland</a>
														<p class="price">$40.25</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a7.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Kid Girls Formal</a><br/>
														<a href="products.html" class="category">Replay</a>
														<p class="price">$10.45</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/ladies/a8.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Girls Jeans</a><br/>
														<a href="products.html" class="category">Esprit</a>
														<p class="price">$35.50</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<section class="our_client">
							<h4 class="title"><span class="pull-left"><span class="text"><span class="line">Cloths <strong>Menufactures</strong></span></span></span></h4>
							<div class="row">					
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/14.png' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/35.png' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/1.png' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/2.png' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/3.png' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/4.png' %}"></a>
								</div>
							</div>
						</section>
						<br/>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Men <strong>Accesories</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/Belt.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<a href="products.html" class="category">Commodo consequat</a>
														<p class="price">$25.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/bubibubi-tie.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$17.55</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/channel.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly turned</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$25.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/laptopbag.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think fast</a><br/>
														<a href="products.html" class="category">World once</a>
														<p class="price">$25.60</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/raybun-gogals.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$45.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/raybun-spects.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<a href="products.html" class="category">Commodo consequat</a>
														<p class="price">$33.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/DW-watch.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">You think water</a><br/>
														<a href="products.html" class="category">World once</a>
														<p class="price">$45.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="{% static 'themes/images/men-accesories/wallet.jpg' %}" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$25.20</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<section class="our_client">
							<h4 class="title"><span class="text">Manufactures</span></h4>
							<div class="row">					
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/lv.jpg' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/channel.jpg' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/rayban.jpg' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/dw.jpg' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/bubibubi.jpg' %}"></a>
								</div>
								<div class="span2">
									<a href="#"><img alt="" src="{% static 'themes/images/clients/stanly.jpg' %}"></a>
								</div>
							</div>
						</section>
						<br/><br/><br/><br/>
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="{% static 'themes/images/feature_img_2.png' %}" alt="" />
										<h4>MODERN <strong>DESIGN</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>									
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="{% static 'themes/images/feature_img_1.png' %}" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="{% static 'themes/images/feature_img_3.png' %}" alt="" />
										<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>

			{% include 'footer.html' %}
		</div>	
		<script src="{% static 'themes/js/common.js' %}"></script>
		<script src="{% static 'themes/js/jquery.flexslider-min.js' %}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>
{% endblock %}